@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Bold.eot');
	src: local('☺'), url('font/Gilroy-Bold.woff') format('woff'), url('font/Gilroy-Bold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Light.eot');
	src: local('☺'), url('font/Gilroy-Light.woff') format('woff'), url('font/Gilroy-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Medium.eot');
	src: local('☺'), url('font/Gilroy-Medium.woff') format('woff'), url('font/Gilroy-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Light.eot');
	src: local('☺'), url('font/Gilroy-Light.woff') format('woff'), url('font/Gilroy-Light.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
.block{
	width: 540px;
	height: 550px;
	text-align: center;
	color: white;
	background-color: #2C79CA;
}
.zag{
	font-family: Gilroy;
	font-style: normal;
	font-weight: 800;
	font-size: 36px;
	line-height: 44px;

	padding-top: 74px;
}
.infor{
	font-family: Gilroy;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 21px;
	
	margin: 10px 30% 120px 30%;
}
.data-icon{

}