.light-theme{    
    --white: white;
	--blue: #2C79CA;
    --light-footer: #0F4C75;
    --defoult-text: #1B262C;
    --palka: #F2F2F2;
    --pole: #BBE1FA;
    --slogan: #0F4C75;
}

.dark-theme{
	--white: #737373; 
	--blue: #333336; 
	--light-footer: #222226; 
	--defoult-text: #E6E6E6; 
	--palka: #E6E6E6; 
	--pole: #575759;
	--slogan: #222226;
	
}
.all_fill, .st1{
	fill: var(--blue);
}
.all_fill_footer{
	fill: var(--white);
}
@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Bold.eot');
	src: local('☺'), url('font/Gilroy-Bold.woff') format('woff'), url('font/Gilroy-Bold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Light.eot');
	src: local('☺'), url('font/Gilroy-Light.woff') format('woff'), url('font/Gilroy-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Medium.eot');
	src: local('☺'), url('font/Gilroy-Medium.woff') format('woff'), url('font/Gilroy-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: url('font/Gilroy-Light.eot');
	src: local('☺'), url('font/Gilroy-Light.woff') format('woff'), url('font/Gilroy-Light.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
div{
	
}
a{
	color: var(--blue);
	text-decoration: none;
}
ul, li{
	display: block;
}
.back_text{
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    padding: 3px 0 0 3px;
}
.container{
	width: 1170px;
	margin: 0px auto;
	transition: .5s ease;
}
/*///////////////////////////////////////////////////////////////////////////*/
.header{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	background-color: var(--white);
	z-index: 20;
}
.header__body{
	position: relative;
	display: flex;
	justify-content: space-between;
	height: 70px;
	align-items: center;
}
.header__body .header__logo {
    width: 113px;
    height: 49px;
} 
.header__body .header_logo img{
	max-width: 100%;
}
.header__burger{
	display: none;
}
.header_menu{
	margin: 0px auto;
	width: 100%;
}
.header__list{
	display: flex;
}
.header_list li{
	list-style: none;
	color: var(--white);
}
.header_link{
	color: var(--blue);
	margin: 0 20px;
	font-size: 20px;
	text-decoration: none;
	line-height: 23px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: 400;
	transition: 1s ease;
}
#language{
	margin: 0 20px 0 20px;
}
.lanpole{
	position: absolute;
	margin-bottom: 30px; 
	top: -100%;
	z-index: 10;
	transition: none;
}
.lanpole.active{
	top: 55px;
	background-color: var(--white);
	padding: 5px 5px 5px 5px;
}
.toggle_lang{
	width: 70px;
	height: 35px;
	margin: 0 8px;
	background-image: url("icons/Day-Night Mode Switcher1.svg");
}
.toggle_lang.active{
	background-image: url("icons/Day-Night Mode Switcher2.svg");
}
/*///////////////////////////////////////////////////////////////////////////*/
.scroll{
    position: fixed;
    top: 70px;
    z-index: 9;
    width: 100%;
    left: 0;  
    transition: none;
        
}
.scroll.sticky{
	position: fixed;
	top: 70px;	
    transition: none;
}
.progress-container {
    width: 100%;
    height: 8px;
    background: var(--pole);
    transition: none;
}
.progress-container.active{
	background-color: var(--white);
    transition: none;
}
.progress-bar {
    height: 8px;
    background: var(--blue);
    width: 0%;
    transition: none;
}
/*///////////////////////////////////////////////////////////////////////////*/
.vstup{
	background: url('img/vstup.png') no-repeat center top / cover;
	padding-bottom: 200px;

} 
.vstup_text{
	font-family: Gilroy;
	font-style: normal;
	font-weight: 800;
	font-size: 72px;
	line-height: 80px;
	
	color: var(--blue);
	position: absolute;
	margin-top: 163px;
	max-width: 800px;
}
#back_text_vstup{
	color: var(--white);
}
.vstup_slogan{
	font-family: Gilroy;
	font-style: normal;
	font-weight: 300;
	font-size: 36px;
	
	color: var(--slogan);
	padding-top: 375px;
	max-width: 500px;
}
.vstup_zayvka{
	background-color: var(--blue);
	display: block;
	height: 60px;

	border-radius: 3px;
	margin-top: 223px;
	width: 255px;

}
.zayvka{
	color: var(--white);
	padding-top: 20px;
	text-align: center;
	
	font-family: Gilroy;
	font-style: normal;
	font-weight: 800;
	font-size: 17px;
	line-height: 22px;
}
.vstup_zayvka:hover{
  	box-shadow: 0 0 10px rgba(0,0,0,0.7);
	transition: all 0.6s ease;
	transform: scale(1.05);
}
/*////////////////////////////////////////////////////////////////////////////*/
.about{
	padding: 100px 0;
	background-color: var(--blue);
	color: var(--white);
}
.str{
	display: flex;
 }
.about_text{
	margin: 0 40px 0 40px;
}

.about_text_zag{
	font-family: Gilroy;
	font-style: normal;
	font-weight: 800;
	font-size: 72px;
	line-height: 88px;

	position: absolute;
}
#back-font-about{
	color: var(--blue);
	position: absolute;
}
.about_text_under_zag{
	padding-top: 100px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: 300;
	font-size: 30px;
	line-height: 28px;
	width: 100%;

	margin-top: 20px;
}
.about_td{
	width: 90%;
	padding: 0 10px 0 10px;
}	
.about_z{
	font-family: Gilroy;
	font-style: normal;
	font-weight: 800;
	font-size: 36px;
	line-height: 44px;

	padding-bottom: 25px;
	display: block;

}
.about_t{
	font-family: Gilroy;
	font-style: normal;
	font-weight: 300;
	font-size: 17px;
	line-height: 21px;
	display: block;
}


/*////////////////////////////////////////////////////////////////////////////*/
.why_text{
	padding: 100px 0;
	background-color: var(--white);
}

.why_zag{
	font-family: Gilroy;
	font-style: normal;
	font-weight: 800;
	font-size: 72px;
	line-height: 88px;
	
	color: var(--blue);
	position: absolute;
}
#back-font-why{
	color: var(--white);
	position: absolute;
}

.why_grid{
	padding-top: 150px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	box-shadow: 0 0 0 0 var(--white);
}
.grid_items{
	border: 1px solid var(--blue);
	justify-content: center;
	padding: 5px;
	border-top: none;
}
#wg5, #wg6, #wg7, #wg8{
	border-bottom: none;
}
#wg1, #wg5, #wg4, #wg8{
	border-right: none;
	border-left: none;

}
.grid_items_icon{
	height: 40px;
  	margin: 20px 25% 20px 25%;
	width: 50%;

}
.why_point{
	text-align: center;
	
	font-family: Gilroy;
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 15px;
	color: var(--defoult-text);
}

/*////////////////////////////////////////////////////////////////////////////*/
.services_pole{
	background-color: var(--blue);
	padding: 100px 0;
}

.services_zag{
	font-size: 45px;
	position: absolute;
	font-family: Gilroy;
	font-style: normal;
	font-weight: 800;
	font-size: 72px;
	line-height: 88px;
	color: var(--white);
}
#back-font-services{
	color: var(--blue);
	position: absolute;

}

.services_content{
	padding-top: 179px;
	justify-content: center;
	align-items: flex-start;
	display: flex;
}
/*brr*/

#pole1, #pole2, #pole3{
	width: 30%;
	background-color: var(--white);
}
#pole2{
	margin: 0 60px;
}
.help_text{
	display: none;
}
.services_z{
	padding-top: 25px;
	padding-bottom: 25px;
	text-align: center;
	justify-content: center;


	font-family: Gilroy;
	font-style: normal;
	font-weight: 800;
	font-size: 36px;
	line-height: 44px;
	color: var(--blue);
}
.services_photo{
	width: 100%;
	margin-bottom:30px;
	position: relative;
	z-index: 2;
}
.services_vod{
	color: var(--defoult-text);
	font-family: Gilroy;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 21px;

	text-align: center;
	margin: 30px 10px;
}
#services_t1, #services_t2, #services_t3{
	color: var(--defoult-text);
	font-family: Gilroy;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 21px;
	padding-right: 19px;
	padding-left: 19px;
	position: absolute;
	display: none;


	transition: transform 0.6 ease;
}
#services_t1.active, #services_t2.active, #services_t3.active{
	display: inherit;
	position: relative;
}
.services_b{
	border: 2px solid var(--blue);
	border-radius: 2px;
	box-shadow: 0 0 5px rgba(0,0,0,0.7);
	margin: 150px 50px 40px 50px;
	padding: 19px 0 19px 0;
	background-color: var(--white);

	color: var(--blue);
	font-family: Gilroy;
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
}
.tb{
	color: var(--defoult);
	text-align: center;
}
.services_b:hover{
  	box-shadow: 0 0 10px rgba(0,0,0,0.7);
	transform: scale(1.05);
}

/*////////////////////////////////////////////////////////////////////////////*/
.shares_pole{
	padding-top: 100px;
	background-color: var(--white);
}

.shares_zag{
	font-family: Gilroy;
	font-style: normal;
	font-weight: 800;
	font-size: 72px;
	line-height: 88px;
	position: absolute;
	color: var(--blue);
}
#back-font-shares{
	color: var(--white);
	position: absolute;

}
.shares_str2{
	padding: 150px 0;
	display: flex;
}
.shares_column{
	width: 90%;
}
.shares{
	display: flex;
}

.shares_inf{
	height: 260px;
	width: 260px;
	background-color: var(--blue);
}

.shares_text{
	font-family: Gilroy;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 17px;
	color: var(--white);
	
	margin: 10px 30px 0 30px;
}	

.shares_img{
	height: 260px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	max-width: 260px;
	width: 260px;
	min-width: 260px;
}

/*////////////////////////////////////////////////////////////////////////////*/
.how_work{
	background-color: var(--blue);
	padding: 100px 0;
	color: var(--white);
}

.how_work_zag{
	font-family: Gilroy;
	font-style: normal;
	font-weight: 800;
	font-size: 72px;
	line-height: 88px;
	position: absolute;		
	color: var(--white);
}

#back-font-work{
	color: var(--blue);
	position: absolute;

}
.how_work_str2{
	display: flex;
  	padding-top: 104.5px;	
}
.how_content{
	display: flex;
	padding-top: 50px;
}
.chisla{
	font-family: Gilroy;
	font-style: normal;
	font-weight: 800;
	font-size: 65px;
	line-height: 80px;
	position: absolute;
}

.chisla_back{
	padding-right: 3px;
	padding-top: 3px;
	color: var(--blue);
	position: absolute;
}
.how_work_text{
	margin: 0 90px;
	padding-top: 13px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: 300;
	font-size: 22px;
	line-height: 28px;
}

/*////////////////////////////////////////////////////////////////////////////*/
.contacts_pole{
	padding: 100px 0;
	background-color: var(--white);
}

* {box-sizing: border-box}

input[type="text"]::-webkit-input-placeholder {
    color: var(--pole);
} 
input[type="text"]::-moz-placeholder {
	color: var(--pole);
}
input[type=text], input[type=text] {
  	padding: 15px;
  	display: inline-block;
	background: var(--blue);
	border: 2px solid var(--pole);
}

input[type=text]:focus, input[type=text]:focus {
  	background: var(--blue);
  	border: 2px solid var(--pole);
  	outline: none;
}

.contact_zag{
	font-family: Gilroy;
	font-style: normal;
	font-weight: 800;
	font-size: 72px;
	line-height: 88px;
	position: absolute;
	color: var(--blue);
}
#back-font-contact{
	color: var(--white);
	position: absolute;
}
.contact_str2{
	display: flex;
	margin: 0px auto;
	padding-top: 150px;
}
#column1{
	padding-bottom: 100px;
	background-color: var(--blue);	
	width: 47%;
}
.column{
	display: flex;
	margin: 0px auto;
}	
.zayvka1{
	font-family: Gilroy;
	font-style: normal;
	font-weight: 800;
	font-size: 36px;
	line-height: 44px;
	text-align: center;
	color: var(--white);
	margin-top: 73.25px;
}
.under_zayvka{
	font-family: Gilroy;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	color: var(--white);
}
.pole111{
	width: 400px;
	height: 60px;
	margin: 25px 75px 0 75px;
	border-radius: 2px;
}
.registerbtn{
  	font-family: Gilroy;
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;

  	background: var(--white);
	border-radius: 2px;
	width: 400px;
	height: 60px;
	margin: 35px 75px 0 75px; 
	color: var(--blue);	

}
.hu{
	display: flex;
}
.conf{
    color: var(--white);
    text-decoration-line: underline;
    font-family: Gilroy;
	font-style: normal;
	font-weight: 800;
	font-size: 11px;
	line-height: 13px;
}
.con{
	color: var(--white);
	font-family: Gilroy;
	font-style: normal;
	font-weight: 500;
	font-size: 11px;
	line-height: 13px;
	padding: 0 10px 0 10px;
}
.sogla{
	display: flex;
	margin: 0 75px 0 75px;
}
.squrt{
	border: 2px solid var(--white);
	background-color: var(--blue);
	width: 15px;
	height: 15px;
	margin-top: 11px;
}
#contact_p2{
	margin: 102px 10% 0 10%;
}
.info_ph{
	margin: 0 26px 0 26px;
}
#contact-logo{
	width: 160px;
}
.strochki{
	display: flex;
	margin: 0 20px 34px 20px;
	color: var(--blue);
}
.social{
	display: flex;
	margin-left: 20px;
}
.bord{
	border: 2px solid var(--blue);
	border-radius: 3px;
	width: 52.5px;
	height: 52.5px;
	margin-right: 15px; 
	padding: 14px;

}


/*////////////////////////////////////////////////////////////////////////////*/

footer{
	background-color: var(--light-footer);
	display: flex;
}
.infa{
	display: flex;
	width: 100%;
}
.polit{
	font-family: Gilroy;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 21px;

	color: var(--white);
	margin-bottom: 20px;
}
.f_zag{
	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;

	color: var(--white);
	margin: 20px 0 20px 0;
}
.men{
	margin: 40px;
	color: var(--white);

}
.nav{
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 23px;

	color: var(--white);
	margin-bottom: 20px;
}
.nav_end{
	font-family: Gilroy;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 21px;
}
.ic{
	display: flex;
}
#ef{
	color: var(--white);
}
.foot{
	margin: 0 20px 0 20px;
}


/*////////////////////////////////////////////////////////////////////////////*/
@media screen and (max-width: 1200px){
	.container{
		max-width: 1140px;
	}
	.header__burger{
		display: none;
	}
	#column1{
		width: 80%;
	}
	.pole111, .registerbtn{
		width: 80%;
	}
}
@media screen and (max-width: 1199px){
	.container{
		width: 960px;
	}
	.vstup_slogan{
		padding-top: 450px;
	}
	#str1, .infa, .contact_str2, .how_work_str2, .services_content, .shares_str2{
		display: block;
 	}
 	#naviga, .header__burger{
 		display: none;	
 	}
 	.about_text, #pole2{
 		margin: 0;
 	}
	.shares{
		margin: 30px 0;
	}
	.how_content{
		margin: 30px 50px;
	}
	.services_photo{
		margin: 20px 15%;
		width: 70%;
	}
	.services_vod{
		font-size: 20px;
		margin: 25px 40px;
	}
	#services_t1, #services_t2, #services_t3{
		font-size: 30px;
	} 
	#pole1, #pole2, #pole3{
		width: 100%;
		padding-bottom: 25px;
		margin: 25px 0; 
	}
	.shares_inf{
		height: 300px;
		width: 300px;
	}
	.shares_img{
		height: 300px;
		max-width: 300px;
		width: 300px;
		min-width: 300px;
	}
	/*brr*/
	#pole1, #pole2, #pole3{
		opacity: 0;
		transition: .5s ease;
		display: none;
	}	
    #pole1.active, #pole2.active, #pole3.active{
		opacity: 1;
		transition: .5s ease;
		display: block;
	}
	.help_text{
		display: block;
		font-family: Gilroy;
		font-style: normal;
		font-weight: 300;
		font-size: 20px;
		text-align: center;
		color: var(--defoult-text);
	}
	.help_text.active{
		display: none;
	}
	#column1{
		width: 80%;
	}
	.pole111, .registerbtn{
	}
}
@media screen and (max-width: 991px){
	.container{
		width: 720px;
	}
	.str{
		display: block;
		margin: 20px 0;
	}
	.about_z{
		margin: 35px 0 10px 0;
	}
	.header_menu{
		position: fixed;
        height: 100vh;
        right: -100%;
        top: 70px;
    	background-color: var(--white);
    }
    .header_menu.active{
        width: 300px;
        right: 300px;
    }
	.header__list{
		display: block;
	}
	.header__body .header_menu {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
	.header__burger{
		z-index: 30;
		border: 2px solid var(--blue);
        width: 50px;
        height: 50px;
        border-radius: 3px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
		transform: rotate(90deg);	
		transition: .5s ease;
	}
	.header__burger.active{
		transform: rotate(-90deg);	
	    transition: .5s ease;
	    border-radius: 25px;
		border: 3px solid var(--blue);
	}
	.mm{
		fill: var(--blue);
	    transition: .6s ease;	
	}
	.mm.active{
		transform: rotate(-360deg);	
	    transition: .6s ease;
	}
	.header_menu.open + .header__burger span{
		display: block;
        width: 50px;
        height: 1px;
        background: var(--blue);
        margin-bottom: 10px;
	}
	.header_menu.open + .header__burger span:last-child {
        margin-bottom: 0;
    }
    .header__body .header__burger span {
        display: block;
        width: 30px;
        height: 1px;
        background: var(--blue);
        transition: .5s ease;
    }


    .header__burger.active{
        transform: rotate(90deg);
        height: 2px;
        width: 25px;
    }
    .header__burger.active{
        transform: rotate(-90deg);
        height: 2px;
        width: 25px
    }
    .header__burge.active{
        display: none;
    }
    .header_link, li{
		padding: 10px 0;
	}
	.lanpole{
		top: 420px;
		right: -100%;
	}
	.lanpole.active{
		top: 420px;
		display: block;
		transition: .3s ease;
		right: 100px;
	}
	li:hover{
		border-bottom: 1px solid var(--blue);
		transition: transform 0.6 ease;
		transform: scale(1.05);
	}
	.header_menu {
        transition: .5s ease;
        z-index: 2;
    }
    .vstup_text, .about_text_zag, .services_zag, .shares_zag, .how_work_zag, .contact_zag, .header_menu.open {
    	font-size: 60px;
    }
    .why_zag{
    	font-size: 50px;
    }
    .header__body .header__logo {
		width: 170px;
		margin-bottom: 20px;
    }
    .header_menu.open {
        transform: translateX(100%);   
    }
    .why_grid{
		padding-top: 150px;
		display: block;
	}
	.grid_items{
		border: none;
		border-bottom: 1px solid var(--blue);			
		margin-bottom: 40px;
	}
	#wg5, #wg6, #wg7, #wg8{
		border-bottom: 1px solid var(--blue);			
	}
	#column1{
		width: 80%;
	}
	.pole111, .registerbtn{
		width: 75%;
	}
	.vstup{
		background-image: none;
		background-color: var(--white);
	}
}
@media screen and (max-width: 767px){
	.container{
		width: 540px;
	}
	.services_z{
		font-size: 30px;
	}
	.contact_p1{
		margin: 0 auto;
	}
	.pole111, .registerbtn{
		width: 53%;
	}
	.header_menu.active{
        width: 300px;
        right: 300px;
    }
	.about_text_zag, .services_zag, .shares_zag, .how_work_zag, .contact_zag, .header_menu.open {
    	font-size: 40px;
    }
    .vstup_text{
    	font-size: 50px;	
    }
    .why_zag{
    	font-size: 40px;
    }
	.services_vod, .vstup_slogan{
		font-size: 30px;
	}
	.lanpole{
		top: 310px;
	}
	.lanpole.active{
		top: 310px;
	}	
	.shares{
		display: block;
	}
	.shares_column{
		margin: auto;	
	}
	.shares_text{
		font-size: 24px;
		line-height: 20px;
		width: 90%;
	}
	.shares_inf{
		padding: 15px 0;
		width: 100%;
	}
	.shares_img{
		height: 350px;
		max-width: 100%;
		width: 100%;
		min-width: 300px;
	}
	#column1{
		width: 80%;
	}
	.pole111, .registerbtn{
		width: 65%;
	}
}
@media screen and (max-width: 575px){
	.container{
		width: 100%;
		padding: 0 15px;
	}
	.vstup_zayvka .vstup_slogan{
		padding-top: 0;
	}
	.sogla{
		display: block;
	}
	.hu{
		display: block;
	}
	.header_menu.active{
        width: 300px;
        right: 300px;
    }
    
    #services_t1, #services_t2, 
    #services_t3, .services_vod, .about_text_under_zag, .vstup_slogan{
    	font-size: 20px;
    }
    .how_work_text{
    	font-size: 16px;
    	text-align: center;
    	margin: 0;
    }
    .vstup_text{
    	font-size: 40px;
    }
    .about_z{
    	font-size: 26px;
    }
    .about_td{
    	width: 100%;
    	padding: 0;
    }
    .how_content{
		display: block;
	}	
	.chisla{
		margin: 0 35%;
		-webkit-text-stroke-width: 1px;
    	-webkit-text-stroke-color: black;
		position: inherit;
	}

	.chisla_back{
		display: none;
	}
	.about_img{
		display: none;
	}
	.lanpole{
		top: 310px;
	}
	.pole111, .registerbtn{
		width: 70%;
		height: 40px;
		margin: 10px 45px;
	}
	
}
